.immage {
    width: 500px;
    height: 300px;
}

#PingBallMenu {
    background-image: url('../Imgs/PingBallMenu.jpg');
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
}

#PingBallDifficulty {
    background-image: url('../Imgs/PingBallDifficultySellect.jpg');
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
}

#PingBallGame {
    background-image: url('../Imgs/PingBallGame.jpg');
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
}

#PingBallGame2 {
    background-image: url('../Imgs/PingBallGame2.jpg');
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
}

#TicTacToeMenu {
    background-image: url('../Imgs/TicTacToeMenu.jpg');
    background-position: start;
    background-size: 150%;
    background-repeat: no-repeat;
}

#TicTacToeGame {
    background-image: url('../Imgs/TicTacToeGame.jpg');
    background-position: left;
    background-size: 120%;
    background-repeat: no-repeat;
}

#TicTacToeWin {
    background-image: url('../Imgs/TicTacToeWin.jpg');
    background-position: left;
    background-size: 110%;
    background-repeat: no-repeat;
}