header {
  padding: 2em 0;
  background: #333333;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: auto;
      flex-wrap: auto;
  color: white;
}

header.page {
  height: 200px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: auto;
      flex-wrap: auto;
}

header nav .navPicture {
  height: 60px;
  width: 60px;
  background: #333333;
  border-radius: 50%;
  padding: 0;
  -webkit-transition: 200ms;
  transition: 200ms;
}

header nav .navPicture .navPictureSvg {
  height: 60px;
  width: 60px;
  margin: 0 0 0 0;
}

header nav .navPicture .navPictureSvg path {
  fill: #dfdfdf;
  -webkit-transition: 200ms;
  transition: 200ms;
}

header nav .navPicture:hover {
  -webkit-box-shadow: 0 0 5px #ffaf02;
          box-shadow: 0 0 5px #ffaf02;
}

header nav .navPicture:hover path {
  fill: #ffaf02;
}

header nav ul {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: auto;
      flex-wrap: auto;
  text-align: center;
}

header nav ul li {
  list-style: none;
  margin: 0 0 0 2em;
}

header nav ul li a {
  color: white;
  opacity: 70%;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #ffaf02;
  opacity: 100%;
  -webkit-transition: 200ms;
  transition: 200ms;
}

header nav ul li a.active {
  opacity: 100%;
}

header .hMain {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: auto;
      flex-wrap: auto;
}

header .hMain .Headline {
  max-width: 450px;
}

header .hMain .Headline .sHeadline {
  font-size: 20px;
  color: #ffaf02;
  opacity: 80%;
  margin-bottom: 0.3em;
}

header .hMain .Headline .bHeadline {
  color: white;
  font-size: 40px;
  margin-bottom: 0.5em;
}

header .hMain .Headline .text {
  opacity: 70%;
}

header .hMain .hPicture {
  height: 350px;
  min-width: 350px;
  margin-top: -10px;
  background: white;
  background-image: url("../Imgs/hero.jpg");
  background-repeat: no-repeat;
  background-position: 70% 20%;
  background-size: 400px 400px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px #666666;
          box-shadow: 0 0 20px #666666;
}

.mainBlock {
  background: #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainBlock.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  -ms-flex-wrap: auto;
      flex-wrap: auto;
}

.mainBlock.home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainBlock.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-height: 63vh;
}

.mainBlock.page .colorBlock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.mainBlock.page .colorBlock:nth-child(even) {
  background: #d2d2d2;
}

.mainBlock.page .container {
  padding: 0.5em;
  color: black;
}

.mainBlock .cell {
  min-height: 15rem;
  min-width: 15rem;
  max-width: 15rem;
  border-right: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
  color: black;
}

.mainBlock .cell:last-child {
  border: none;
}

.mainBlock h4 {
  margin: 0.5em 0 0.5em 0;
  font-size: 1.5em;
  color: #e89e00;
}

.mainBlock .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 0 0 1rem;
  padding: 1rem 0;
}

.mainBlock .content h5 {
  font-size: 1rem;
  margin-right: 2rem;
  min-width: 4.5rem;
  text-align: left;
}

.mainBlock .content h5 a {
  color: #3f2b00;
}

.mainBlock .content h5 a:hover {
  color: #e89e00;
}

.mainBlock .content p {
  margin: 0;
  text-align: left;
}

.container {
  width: 80%;
  margin-left: 0%;
}

.left {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.right {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.orangeText {
  color: #ffaf02;
}

.btn {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 100px;
  background: #ffaf02;
  border: 1px solid #f7a900;
  font-weight: 700;
  border-radius: 3px;
  color: #333333;
}

.btn:hover {
  background: #ffbf35;
  border: 1px solid #ffaf02;
}

.btn:focus {
  outline: 1px solid #ce8d00;
}

a {
  text-decoration: none;
  color: #dd9700;
}

a:hover {
  color: #f2a500;
}

.immage {
  width: 500px;
  height: 300px;
}

#PingBallMenu {
  background-image: url("../Imgs/PingBallMenu.jpg");
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
}

#PingBallDifficulty {
  background-image: url("../Imgs/PingBallDifficultySellect.jpg");
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
}

#PingBallGame {
  background-image: url("../Imgs/PingBallGame.jpg");
  background-position: center;
  background-size: 105%;
  background-repeat: no-repeat;
}

#PingBallGame2 {
  background-image: url("../Imgs/PingBallGame2.jpg");
  background-position: center;
  background-size: 105%;
  background-repeat: no-repeat;
}

#TicTacToeMenu {
  background-image: url("../Imgs/TicTacToeMenu.jpg");
  background-position: start;
  background-size: 150%;
  background-repeat: no-repeat;
}

#TicTacToeGame {
  background-image: url("../Imgs/TicTacToeGame.jpg");
  background-position: left;
  background-size: 120%;
  background-repeat: no-repeat;
}

#TicTacToeWin {
  background-image: url("../Imgs/TicTacToeWin.jpg");
  background-position: left;
  background-size: 110%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1169px) {
  .mainBlock .cell:nth-child(3) {
    border: none;
  }
}

@media only screen and (max-width: 880px) {
  .hPicture {
    display: none;
  }
  .mainBlock .cell:nth-child(odd) {
    border-right: 1px solid #333333;
  }
  .mainBlock .cell:nth-child(2) {
    border: none;
  }
}

@media only screen and (max-width: 644px) {
  header {
    padding-bottom: 5em;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 2rem 0 2rem -2rem;
  }
  header .hMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: auto;
        flex-wrap: auto;
  }
}

@media only screen and (max-width: 591px) {
  .mainBlock .cell:nth-child(odd) {
    border-right: none;
  }
  .mainBlock .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: auto;
        -ms-flex-pack: auto;
            justify-content: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .mainBlock .content h5 {
    margin: 0 0 1em 0;
    text-align: center;
  }
}

@media only screen and (max-width: 382px) {
  header {
    height: 600px;
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}

body {
  background: #333333;
}

footer {
  background: #333333;
  min-height: 50px;
}
/*# sourceMappingURL=style.css.map */