@media only screen and (max-width: 1169px) {
    .mainBlock {
        .cell {
            &:nth-child(3) {
                border: none;
            }
        }
    }
}

@media only screen and (max-width: 880px) {
    .hPicture {
        display: none;
    }
    .mainBlock {
        .cell {
            &:nth-child(odd) {
                border-right: 1px solid $primaryColor;
            }
            &:nth-child(2) {
                border: none;
            }
        }
    }
}

@media only screen and (max-width: 644px) {
    header {
        padding-bottom: 5em;
        nav {
            @include flexBox(flex, column, center, center, nowrap);
            ul {
                @include flexBox(flex, row, center, center, wrap);
                margin: 2rem 0 2rem -2rem;
            }
        }
        .hMain {
            @include flexBox(flex, row, center, center, auto);
        }
    }
}

@media only screen and (max-width: 591px) {
    .mainBlock {
        .cell {
            &:nth-child(odd) {
                border-right: none;
            }
        }
    }

    .mainBlock {
        .content {
            @include flexBox(flex, column, auto, center, nowrap);
            h5 {
                margin: 0 0 1em 0;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 382px) {
    header {
        height: 600px;
    }

    
}