.container {
    width: 80%;
    margin-left: 0%;
}

.left {
    align-self: start;
}

.right {
    align-self: end;
}

.center {
    align-self: center;
}

.orangeText {
    color: $secondaryColor;
}

.btn {
    padding: 0.5rem;
    margin-top: 1rem;
    width: 100px;
    background: $secondaryColor;
    border: 1px solid darken($color: $secondaryColor, $amount: 2%);
    font-weight: 700;
    border-radius: 3px;
    color: $primaryColor;
    &:hover {
        background: lighten($color: $secondaryColor, $amount: 10%);
        border: 1px solid $secondaryColor;
    }
    &:focus {
        outline: 1px solid darken($color: $secondaryColor, $amount: 10%);
    }
}

a {
    text-decoration: none;
    color: darken($color: $secondaryColor, $amount: 7%);
    &:hover {
        color: darken($color: $secondaryColor, $amount: 3%);
    }
}