* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #222;
    margin: 0;
    padding: 1rem;
}

header {
    height: 200px;
    background-image: url("../images/Big.jpg");
    background-size: 100%;
    nav {
        text-align: left;
        padding: 0;
        margin-top: 10px;
        ul {
            list-style-type: none;
            margin: 0 0 10px 0;
            padding: 0;
            li {
                display: inline-block;
                width: 75px;
                padding: 5px 0 5px 0;
                margin: 0 5px 0 0;
                text-align: center;
                &:hover {
                    box-shadow: white 0 0 10px;
                }
            }
        }
    }
    a {
        text-decoration: none;
        color: white;
    }
}

h1 {
    color: white;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0 0 20px 0;
}

section {
    padding: 10px;
}

form div {
    width: 100%;
    margin: auto;
    padding: 0 0 10px 0;
    display: flex;
    justify-content: center;
    label {
        margin: 4px;
    }
    input {
        margin: 0;
        width: 200px;
        border: 0;
        background: #777;
        padding: 0.2em;
        color: white;
    }
}

#dlName {
    margin: 20px;
    font-size: 2rem;
}

#form1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn {
    margin: auto;
    padding: 5px 10px;
    background: #888;
    border: none;
    color: white;
    &:hover {
        background: #999;
    }
}


.center, .head {
    margin: 0;
    padding: 0;
    width: 80%;
    margin-left: 10%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #444;
    .block {
        color: white;
        background-color: #666;
        margin: auto;
        padding: 10px;
        box-shadow: black 2px 2px 10px;
        border-radius: 10px;
    }
}

.top {
    border-radius: 5px 5px 0 0;
}

.top.container .block {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    text-align: center;
    &:hover {
        background-color: #888;
        box-shadow: black 2px 2px 15px;
    }
}

.bottom.container .block {
    width: 100%;
    min-height: 100px;
}



.foot {
    font-size: 13px;
    color: #aaa;
}

.countdown {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}

.block.help {
    text-align: center;
}

.countdownText {
    font-size: 4rem;
}

.countdown {
    div{
        width: 10rem;
    margin-bottom: 2rem;
    }
}

.bigText {
    font-size: 3rem;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .top.container {
        flex-direction: column;
    }

    header {
        text-align: center;
        nav {
            text-align: center;
        }
    }
}

@media screen and (max-width: 650px) {
    .center, .head {
        width: 100%;
        margin: 0;
    }

    .top {
        border-radius: 0;
    }
}